@import url("https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    /* wavy repeating pattern */
    background: url("data:image/svg+xml,%3Csvg opacity='0.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='100' height='100'%3E%3Cpath id='line' d='M 0 0 C 15 5 5 15 20 20' fill='none' stroke='hsl(190, 85%25, 80%25)' stroke-linecap='square' stroke-width='1' /%3E%3Cuse href='%23line' x='0' y='-20' /%3E%3Cuse href='%23line' x='-20' y='0' /%3E%3Cuse href='%23line' x='0' y='20' /%3E%3Cuse href='%23line' x='20' y='0' /%3E%3C/svg%3E"),
        linear-gradient(-160deg, hsl(215, 85%, 45%), hsl(190, 85%, 50%)), hsl(200, 85%, 55%);
    background-size: 50px, 100%;
    min-height: 100vh;
    font-family: "Dosis", sans-serif;
}
