.App {
  /* cap the width of the main panel */
  max-width: 900px;
  width: 90vw;
  /* minimum height to avoid a change in size with one additional input element */
  min-height: 650px;
  background: var(--theme-two);
  border-radius: 20px;
  box-shadow: 0 2px 5px -6px var(--text),0 0 30px -50px var(--text);
  /* display the halves side by side */
  display: flex;
}
/* for both panels
display the content in a single column layout
*/
.Panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
  position: relative;
  /* ooverflow hidden to avoid janky horizontal scroll as the child elements are transitioned into view */
  overflow-x: hidden;

}
/* styles shared by the halves' elements */
.Panel h2 {
  font-size: 1.9rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.Panel p {
  margin: 1rem 0;
  max-width: 25ch;
  font-size: 0.95rem;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
}
.Panel a, .Panel button {
  color: inherit;
  font-family: inherit;
}
.Panel a {
  text-decoration: none;
  margin: 1rem 1rem;
}
/* style the anchor links nesting the social platforms in a circle */
.Panel .Social a {
  display: inline-block;
  font-weight: 900;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid currentColor;
}
/* on hover and on focus switch the color of the links making up the social icons */
.Panel .Social a:hover,
.Panel .Social a:focus {
  background: var(--text);
  color: var(--theme-two);
}
/* include a semi-transparent border at the bottom of the anchor link elements which are direct children of the parent
this excludes the social icons */
.Panel > a {
  position: relative;
}
.Panel > a:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px dashed currentColor;
  opacity: 0.4;
}
/* display the input elements atop one another */
.Panel form {
  display: flex;
  flex-direction: column;
}
/* widen the input elements to cover a sizeable portion of the panel */
.Panel form input {
  margin: 0.5rem 0;
  width: 200px;
  padding: 1rem 0.75rem;
  background: var(--bg);
  border: none;
  color: inherit;
  font-family: inherit;
}
.Panel form input::placeholder {
  opacity: 0.8;
}
/* style the buttons to sign in/sign up to have considerable white space _around_ the text */
.Panel button {
  background: none;
  border: 1px solid currentColor;
  border-radius: 50px;
  padding: 0.85rem 2.75rem;
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}


/*
on smaller viewports position the panel atop one another
expand the main panel to cover the entirety of the viewport
*/
@media (max-width: 650px) {
  .App {
    flex-direction: column;
    border-radius: 0;
    width: 100vw;
    height: 100%;
    margin: 0;
    box-shadow: none;
  }
}