* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* center the canvas and button in a column */
body {
    color: hsl(0, 0%, 90%);
    background: hsl(0, 0%, 10%);
    font-family: monospace;
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#root > * + * {
    margin-top: 1.5rem;
}
/* by giving a background to the canvas you can draw only the "alive" cells and have the contrast highlight the difference */
canvas {
    background: hsl(0, 0%, 20%);
}
/* styling properties to pretty up the button */
button {
    font-family: inherit;
    font-size: 1.2rem;
    color: inherit;
    background: none;
    padding: 0.25rem 1rem;
    border: 1.5px solid currentColor;
}
