/* fix the loader in the bottom right corner */
svg {
  color: hsl(0, 0%, 10%);

  position: fixed;
  width: 8rem;
  height: auto;
  display: block;
  bottom: 1.5rem;
  right: 1.5rem;
}
/* use the same duration for the two animations
slightly modify an expo-in-out timing function to make the keyframes snappy, but not excessively
*/
.rotate {
  animation: rotate 1s cubic-bezier(0.95, 0, 0.08, 1) infinite alternate;
}
.translate {
  animation: translate 1s cubic-bezier(0.95, 0, 0.08, 1) infinite alternate;
}
@keyframes translate {
  to {
    transform: translate(-5px, -10px);
  }
}
@keyframes rotate {
  to {
    transform: rotate(-10deg);
  }
}
