.Home {
  padding: 1rem;
}
/* display the heading and button side by side at either end of the page */
.Home header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* display the items in a squared grid */
.Home .HomeGrid {
  max-width: 700px;
  width: 90vw;
  height: 90vw;
  max-height: 700px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
