/* import font(s) */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,800");

/* detail root variables */
:root {
  --font: "Montserrat", sans-serif;
  --color-text: #fff;
  --color-bg: #222;
  --color-bg-s: #4daec8;
  --color-bg-m: #61dafb;
  --color-bg-e: #adebfc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--font);
  color: var(--color-text);
  background: var(--color-bg);
}
/* global styles) */
a {
  font-size: 1.75rem;
  font-size: 1.75rem;
  color: inherit;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.25s ease-out;
  font-weight: 800;
}
a:hover {
  opacity: 1;
}
