@import url('https://fonts.googleapis.com/css?family=Montserrat:300,800');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 12%);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, 10vw));
  grid-auto-rows: minmax(50px, 10vw);
  font-feature-settings: 'tnum';
}

@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(7, 120px);
    grid-auto-rows: 120px;
  }
}

@supports (grid-template-columns: repeat(7, clamp(50px, 10vw, 120px))) {
  .grid {
    grid-template-columns: repeat(7, clamp(50px, 10vw, 120px));
    grid-auto-rows: clamp(50px, 10vw, 120px);
  }
}

.grid a {
  font-size: 1.4rem;
  font-size: calc(0.7rem + 1.5vw);
  display: grid;
  place-items: center;
  text-decoration: none;
  color: inherit;
  font-weight: 800;
  position: relative;
  z-index: 5;
  outline: none;
}

.grid a::before,
.grid a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.grid a::before {
  background: linear-gradient(
    to bottom right,
    hsl(193, 100%, 66%),
    hsl(193, 57%, 31%)
  );
}

.grid a::after {
  background: hsl(0, 0%, 12%);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-in-out;
}

.grid a:hover::after,
.grid a:focus::after {
  transform: scale(0.85);
}

@media screen and (min-width: 800px) {
  .grid a {
    font-size: 1.6rem;
  }
}
