* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: hsl(220, 98%, 68%);
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom-color: currentColor;
}

h1 {
  font-size: 1.76rem;
}

h2 {
  font-size: 1.47rem;
}
