* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  color: hsl(0, 0%, 100%);
  background: hsl(220, 5%, 5%);
}
/* the graphic is ultimately meant to be included in a container with a background slightly lighter than the body's prop */
svg {
  padding: 2rem 2.5rem;
  background: hsl(220, 2%, 10%);
  color: hsl(30, 85%, 90%);
  display: block;
  width: 200px;
  height: auto;
  margin: auto;
}
/* just to see the two versions of the hypothetical card, change the opacity of the two groups when a class is applied to the svg */
svg #contact--us {
  opacity: 0;
}
svg.us #contact--us {
  opacity: 1;
}
svg.us #contact {
  opacity: 0;
}
